Insecure choice of decoding algorithm

Reading [the PyJWT docs](https://pyjwt.readthedocs.io/en/stable/api.html#jwt.decode), it is warned that:

> Do not compute the `algorithms` parameter based on the `alg` from the token itself, or on any other data that an attacker may be able to influence, as that might expose you to various vulnerabilities (see [RFC 8725 §2.1](https://www.rfc-editor.org/rfc/rfc8725.html#section-2.1)). Instead, either hard-code a fixed value for `algorithms`, or configure it in the same place you configure the key.

Which is what happens here instead:

https://github.com/rickwierenga/app-store-notifications-v2-validator/blob/596f33d6a8a1156fcbcf810aff0d4768f0e26730/app_store_notifications_v2_validator/__init__.py#L57-L58

I think you should hardcode `["ES256"]` here.

Thanks for flagging this! Fixed in https://github.com/rickwierenga/app-store-notifications-v2-validator/commit/1c0617b129c630147ba0671df182da3030d28697 (and improved in https://github.com/rickwierenga/app-store-notifications-v2-validator/commit/387e90ab0407a2fdca738f49cd36ac6e1095f511). Will update the PyPI version in a minute.

https://pypi.org/project/app-store-notifications-v2-validator/0.0.9/